section.add-review {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  place-items: center;
}

section.add-review form .form-section {
  width: 100%;
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: space-between;
}

.review-modal h1 {
  background-color: #bb8082;
  color: white;
  padding: 10px;
  font-size: 1.5rem;
  text-align: center;
}

.review-modal textarea {
  display: block;
  margin: 20px auto;
  resize: none;
}

.review-form input,
.review-form button {
  margin: 5px;
}

.add-review .btn-toggle-modal {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 7px;
  margin: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.review-container {
  width: 90%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.review-details {
  position: relative;
  border: 2px solid #a1a1a1;
  border-radius: 10px;
  margin-block-start: 10px;
  padding: 10px;
  line-height: 1.5;
  font-size: 1.3rem;
}

.review-details h5 {
  color: #a1a1a1;
}

.review-details .btn-remove-review {
  position: absolute;
  right: 0;
  top: 0;

  margin: 5px;
  font-size: 1rem;
  border: 2px solid #bb8082;
  border-radius: 50%;
}

.review-container p {
  max-width: 90%;
  word-wrap: break-word;
}
