.book-filter {
  background-color: var(--clr2bg);
  padding-inline: 1em;
  padding: 0.5rem 1em;
  margin-block: 1em;
  border-radius: 2em;
}

.book-filter form {
  display: grid;
  grid-auto-columns: minmax(100px, 1fr);
  gap: 0.5em;
  justify-items: center;
  align-items: center;
}

.book-filter .filter-section {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
  width: min(100%, 600px);
  flex-wrap: wrap;
}
