section.book-details {
  display: grid;
  grid-template-columns: 1fr;
}
.book-details .book-details-info {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
}
.book-details .book-details-info:nth-child(even) {
  grid-column: 1;
}

.book-details .book-details-info:nth-child(odd) {
  grid-column: 2;
}

.book-details h1 {
  color: var(--clr1);
  font-size: 2rem;
}

.book-details h2 {
  color: var(--clr1);
  font-size: 1.5rem;
}

.book-details img {
  max-width: 200px;
  display: block;
  margin: auto;
}

.book-details ul {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-block-end: 1em;
}

.book-details li {
  border: 1px solid black;
  border-radius: 1em;
  padding: 0.2em 0.5em;
  list-style: none;
}

.book-details h5 {
  color: var(--clr2);
}

.bold-txt {
  font-weight: bold;
}

.book-details h4 {
  font-size: 0.8em;
}

.high-price {
  color: red;
}

.low-price {
  color: green;
}

.brake-line {
  height: 2px;
  background: black;
  width: 100%;
  margin-block: 1em;
}
