:root {
  /* ---- Primary Colors ---- */
  --clr1: rgb(96, 107, 91);
  --clr2: rgb(120, 99, 110);

  /* ---- Secondary Colors ---- */
  --clr-gold: gold;
  --clr-green: green;
  --clr-green-1: rgb(75, 255, 47);
  --clr-red: red;
  --clr-red-1: rgb(255, 95, 95);
  --clr-red-2: rgb(242, 9, 9);
  --clr-blue: blue;
  --clr-blue-1: rgb(16, 41, 232);
  --clr-blue-2: lightblue;

  /* ---- Background Colors ---- */
  --clr1bg: rgb(93, 178, 235);
  --clr1bg-light: rgb(205, 221, 200);
  --clr2bg: rgb(120, 135, 221);
  --clr2bg-light: rgb(253, 236, 246);

  --gray0: rgb(255, 255, 255);
  --gray1: rgb(240, 240, 240);
  --gray1-1: lightgray;
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);
  --gray-black: rgb(0, 0, 0);

  /* ---- Box Shadows ---- */
  --box-shadow-primary-1: inset 0 1px rgba(0, 0, 0, 0.5);
  --box-shadow-primary-2: inset 4px 2px 7px 3px rgba(0, 0, 0, 0.5);
}
