* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  color: var(--gray3);
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0 0.5em;
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
}

.input {
  border-radius: 4px;
  padding: 0.5rem 1rem;
  border: 0;
}

.input:focus {
  outline: none;
}

/* Dont stretch my Media */
img,
embed,
video,
object {
  max-width: 100%;
}

/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid var(--clr-gold);
}

.page-count-high {
  color: var(--clr-green);
}

.page-count-medium {
  color: var(--clr-blue);
}

.page-count-low {
  color: var(--clr-red-1);
}

.color-green {
  color: var(--clr-green-1);
}

.color-red {
  color: var(--clr-red);
}

/* image container after */

.image-container {
  position: relative;
  width: 100%;
}

.image-container::after {
  position: absolute;
  content: 'On Sale';
  z-index: 2;
  top: 0;
  right: 50%;
  width: 100px;
  color: var(--gray0);
  background-color: var(--clr-red-2);
  font-size: 1rem;
  text-align: center;
  display: none;
}

.image-container.on-sale::after {
  display: block;
}

/* utils helpers */

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: none;
  display: none;
}
