* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  color: var(--gray3);
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0 0.5em;
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  color: unset;
}

/* Dont stretch my Media */
img,
embed,
video,
object {
  max-width: 100%;
}

/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid gold;
}

.page-count-high {
  color: green;
}

.page-count-medium {
  color: blue;
}

.page-count-low {
  color: rgb(255, 95, 95);
}

.color-green {
  color: rgb(75, 255, 47);
}

.color-red {
  color: red;
}

/* image container after */

.image-container {
  position: relative;
  width: 100%;
}

.image-container::after {
  position: absolute;
  content: 'On Sale';
  z-index: 2;
  top: 0;
  right: 50%;
  width: 100px;
  color: white;
  background-color: rgb(242, 9, 9);
  font-size: 1rem;
  text-align: center;
  display: none;
}

.image-container.on-sale::after {
  display: block;
}
