/* flex helpers */

.flex {
  display: flex;
}

.flex.flex-column {
  flex-direction: column;
}

.flex.justify-center {
  justify-content: center;
}

.flex.justify-between {
  justify-content: space-between;
}

.flex.align-center {
  align-items: center;
}

/* text helpers */

.colored-text {
  color: var(--clr1);
}

/* list helpers */

.clean-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* font awsome */

.fa {
  font-family: fa;
}

.fa.fa-facebook::before {
  content: '\f39e';
}

.fa.fa-twitter::before {
  content: '\f099';
}

.fa.fa-dribbble::before {
  content: '\f17d';
}

.fa.fa-behance::before {
  content: '\f1b4';
}

/* text helpers */

.text-line-through {
  text-decoration: line-through;
}

.text-center {
  text-align: center;
}

.text-undeline {
  text-decoration: underline;
}

/* positon helpes */
.pos-rel {
  position: relative;
}

.pos-fix {
  position: fixed;
}

.pos-abs {
  position: absolute;
}

/* positon helpes */

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.capitalize {
  text-transform: capitalize;
}
